In [15]:
# Realizo las importaciones necesarias
import pandas as pd
import numpy as np

### **Carga de Datos**

In [16]:
# Cargo los datos
df_pizzas = pd.read_csv("E:/Coderhouse/Data Science/2 - Machine Learning para la CIencia de Datos/Proyecto Data Science #2/data/pizzas_merge.csv")

In [3]:
df_pizzas.sample(5)

,order_details_id,order_id,pizza_id,quantity,date,time,pizza_type_id,size,price,name,category,ingredients
11783,11784,5180,spinach_supr_l,1,2015-03-28,19:48:11,spinach_supr,L,20.75,The Spinach Supreme Pizza,Supreme,"Spinach, Red Onions, Pepperoni, Tomatoes, Arti..."
21530,21531,9450,five_cheese_l,1,2015-06-08,12:00:36,five_cheese,L,18.50,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
25270,25271,11121,spicy_ital_l,1,2015-07-04,23:02:47,spicy_ital,L,20.75,The Spicy Italian Pizza,Supreme,"Capocollo, Tomatoes, Goat Cheese, Artichokes, ..."
40348,40349,17781,sicilian_l,1,2015-10-30,17:18:57,sicilian,L,20.25,The Sicilian Pizza,Supreme,"Coarse Sicilian Salami, Tomatoes, Green Olives..."
3040,3041,1341,four_cheese_l,1,2015-01-23,14:15:37,four_cheese,L,17.95,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo..."

### **Valores Nulos**

In [4]:
df_pizzas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
 4   date              48620 non-null  object
 5   time              48620 non-null  object
 6   pizza_type_id     48620 non-null  object
 7   size              48620 non-null  object
 8   price             48620 non-null  float64
 9   name              48620 non-null  object
 10  category          48620 non-null  object
 11  ingredients       48620 non-null  object
dtypes: float64(1), int64(3), object(8)
memory usage: 4.5+ MB

In [5]:
df_pizzas.shape

(48620, 12)

In [6]:
#Por cantidad
df_pizzas.isnull().sum()

order_details_id    0
order_id            0
pizza_id            0
quantity            0
date                0
time                0
pizza_type_id       0
size                0
price               0
name                0
category            0
ingredients         0
dtype: int64

In [8]:
#Por porcentaje
(df_pizzas.isnull().sum()/df_pizzas.shape[0])*100

order_details_id    0.0
order_id            0.0
pizza_id            0.0
quantity            0.0
date                0.0
time                0.0
pizza_type_id       0.0
size                0.0
price               0.0
name                0.0
category            0.0
ingredients         0.0
dtype: float64

### **Duplicados**

In [9]:
# A nivel general
df_pizzas.duplicated().sum()

0

In [13]:
df_pizzas.columns

Index(['order_details_id', 'order_id', 'pizza_id', 'quantity', 'date', 'time',
       'pizza_type_id', 'size', 'price', 'name', 'category', 'ingredients'],
      dtype='object')

In [19]:
for colum in df_pizzas.columns:
    if df_pizzas[colum].dtype == 'object':
        valores_unicos = df_pizzas[colum].unique()
        print(f'La columna: {colum}:')
        print(f'Cantidad de categorias: {len(valores_unicos)}')
        print(f'Los valores unicos son: {valores_unicos}')
        print('-----------------------------------')

La columna: pizza_id:
Cantidad de categorias: 91
Los valores unicos son: ['hawaiian_m' 'classic_dlx_m' 'five_cheese_l' 'ital_supr_l' 'mexicana_m'
 'thai_ckn_l' 'ital_supr_m' 'prsc_argla_l' 'bbq_ckn_s' 'the_greek_s'
 'spinach_supr_s' 'classic_dlx_s' 'green_garden_s' 'ital_cpcllo_l'
 'ital_supr_s' 'mexicana_s' 'spicy_ital_l' 'spin_pesto_l' 'veggie_veg_s'
 'mexicana_l' 'southw_ckn_l' 'bbq_ckn_l' 'cali_ckn_l' 'cali_ckn_m'
 'pepperoni_l' 'cali_ckn_s' 'ckn_pesto_l' 'big_meat_s' 'soppressata_l'
 'four_cheese_l' 'napolitana_s' 'calabrese_m' 'four_cheese_m'
 'ital_veggie_s' 'mediterraneo_m' 'peppr_salami_s' 'spinach_fet_l'
 'napolitana_l' 'sicilian_l' 'ital_cpcllo_m' 'southw_ckn_s' 'bbq_ckn_m'
 'pepperoni_m' 'prsc_argla_s' 'sicilian_m' 'veggie_veg_l' 'ckn_alfredo_s'
 'pepperoni_s' 'green_garden_l' 'green_garden_m' 'pep_msh_pep_l'
 'hawaiian_s' 'peppr_salami_m' 'ckn_alfredo_m' 'peppr_salami_l'
 'spin_pesto_s' 'thai_ckn_m' 'classic_dlx_l' 'ckn_pesto_m' 'the_greek_xl'
 'hawaiian_l' 'pep_msh_pep_s' 'spinach_supr_m' 'prsc_argla_m'
 'mediterraneo_l' 'southw_ckn_m' 'pep_msh_pep_m' 'sicilian_s'
 'spicy_ital_s' 'thai_ckn_s' 'spinach_supr_l' 'ital_veggie_l'
 'veggie_veg_m' 'the_greek_m' 'ckn_pesto_s' 'spinach_fet_s' 'spicy_ital_m'
 'ital_veggie_m' 'ital_cpcllo_s' 'mediterraneo_s' 'spinach_fet_m'
 'napolitana_m' 'spin_pesto_m' 'brie_carre_s' 'ckn_alfredo_l'
 'calabrese_s' 'the_greek_l' 'soppressata_m' 'soppressata_s' 'calabrese_l'
 'the_greek_xxl']
-----------------------------------
La columna: date:
Cantidad de categorias: 358
Los valores unicos son: ['2015-01-01' '2015-01-02' '2015-01-03' '2015-01-04' '2015-01-05'
 '2015-01-06' '2015-01-07' '2015-01-08' '2015-01-09' '2015-01-10'
 '2015-01-11' '2015-01-12' '2015-01-13' '2015-01-14' '2015-01-15'
 '2015-01-16' '2015-01-17' '2015-01-18' '2015-01-19' '2015-01-20'
 '2015-01-21' '2015-01-22' '2015-01-23' '2015-01-24' '2015-01-25'
 '2015-01-26' '2015-01-27' '2015-01-28' '2015-01-29' '2015-01-30'
 '2015-01-31' '2015-02-01' '2015-02-02' '2015-02-03' '2015-02-04'
 '2015-02-05' '2015-02-06' '2015-02-07' '2015-02-08' '2015-02-09'
 '2015-02-10' '2015-02-11' '2015-02-12' '2015-02-13' '2015-02-14'
 '2015-02-15' '2015-02-16' '2015-02-17' '2015-02-18' '2015-02-19'
 '2015-02-20' '2015-02-21' '2015-02-22' '2015-02-23' '2015-02-24'
 '2015-02-25' '2015-02-26' '2015-02-27' '2015-02-28' '2015-03-01'
 '2015-03-02' '2015-03-03' '2015-03-04' '2015-03-05' '2015-03-06'
 '2015-03-07' '2015-03-08' '2015-03-09' '2015-03-10' '2015-03-11'
 '2015-03-12' '2015-03-13' '2015-03-14' '2015-03-15' '2015-03-16'
 '2015-03-17' '2015-03-18' '2015-03-19' '2015-03-20' '2015-03-21'
 '2015-03-22' '2015-03-23' '2015-03-24' '2015-03-25' '2015-03-26'
 '2015-03-27' '2015-03-28' '2015-03-29' '2015-03-30' '2015-03-31'
 '2015-04-01' '2015-04-02' '2015-04-03' '2015-04-04' '2015-04-05'
 '2015-04-06' '2015-04-07' '2015-04-08' '2015-04-09' '2015-04-10'
 '2015-04-11' '2015-04-12' '2015-04-13' '2015-04-14' '2015-04-15'
 '2015-04-16' '2015-04-17' '2015-04-18' '2015-04-19' '2015-04-20'
 '2015-04-21' '2015-04-22' '2015-04-23' '2015-04-24' '2015-04-25'
 '2015-04-26' '2015-04-27' '2015-04-28' '2015-04-29' '2015-04-30'
 '2015-05-01' '2015-05-02' '2015-05-03' '2015-05-04' '2015-05-05'
 '2015-05-06' '2015-05-07' '2015-05-08' '2015-05-09' '2015-05-10'
 '2015-05-11' '2015-05-12' '2015-05-13' '2015-05-14' '2015-05-15'
 '2015-05-16' '2015-05-17' '2015-05-18' '2015-05-19' '2015-05-20'
 '2015-05-21' '2015-05-22' '2015-05-23' '2015-05-24' '2015-05-25'
 '2015-05-26' '2015-05-27' '2015-05-28' '2015-05-29' '2015-05-30'
 '2015-05-31' '2015-06-01' '2015-06-02' '2015-06-03' '2015-06-04'
 '2015-06-05' '2015-06-06' '2015-06-07' '2015-06-08' '2015-06-09'
 '2015-06-10' '2015-06-11' '2015-06-12' '2015-06-13' '2015-06-14'
 '2015-06-15' '2015-06-16' '2015-06-17' '2015-06-18' '2015-06-19'
 '2015-06-20' '2015-06-21' '2015-06-22' '2015-06-23' '2015-06-24'
 '2015-06-25' '2015-06-26' '2015-06-27' '2015-06-28' '2015-06-29'
 '2015-06-30' '2015-07-01' '2015-07-02' '2015-07-03' '2015-07-04'
 '2015-07-05' '2015-07-06' '2015-07-07' '2015-07-08' '2015-07-09'
 '2015-07-10' '2015-07-11' '2015-07-12' '2015-07-13' '2015-07-14'
 '2015-07-15' '2015-07-16' '2015-07-17' '2015-07-18' '2015-07-19'
 '2015-07-20' '2015-07-21' '2015-07-22' '2015-07-23' '2015-07-24'
 '2015-07-25' '2015-07-26' '2015-07-27' '2015-07-28' '2015-07-29'
 '2015-07-30' '2015-07-31' '2015-08-01' '2015-08-02' '2015-08-03'
 '2015-08-04' '2015-08-05' '2015-08-06' '2015-08-07' '2015-08-08'
 '2015-08-09' '2015-08-10' '2015-08-11' '2015-08-12' '2015-08-13'
 '2015-08-14' '2015-08-15' '2015-08-16' '2015-08-17' '2015-08-18'
 '2015-08-19' '2015-08-20' '2015-08-21' '2015-08-22' '2015-08-23'
 '2015-08-24' '2015-08-25' '2015-08-26' '2015-08-27' '2015-08-28'
 '2015-08-29' '2015-08-30' '2015-08-31' '2015-09-01' '2015-09-02'
 '2015-09-03' '2015-09-04' '2015-09-05' '2015-09-06' '2015-09-07'
 '2015-09-08' '2015-09-09' '2015-09-10' '2015-09-11' '2015-09-12'
 '2015-09-13' '2015-09-14' '2015-09-15' '2015-09-16' '2015-09-17'
 '2015-09-18' '2015-09-19' '2015-09-20' '2015-09-21' '2015-09-22'
 '2015-09-23' '2015-09-26' '2015-09-27' '2015-09-28' '2015-09-29'
 '2015-09-30' '2015-10-01' '2015-10-02' '2015-10-03' '2015-10-04'
 '2015-10-06' '2015-10-07' '2015-10-08' '2015-10-09' '2015-10-10'
 '2015-10-11' '2015-10-13' '2015-10-14' '2015-10-15' '2015-10-16'
 '2015-10-17' '2015-10-18' '2015-10-20' '2015-10-21' '2015-10-22'
 '2015-10-23' '2015-10-24' '2015-10-25' '2015-10-27' '2015-10-28'
 '2015-10-29' '2015-10-30' '2015-10-31' '2015-11-01' '2015-11-02'
 '2015-11-03' '2015-11-04' '2015-11-05' '2015-11-06' '2015-11-07'
 '2015-11-08' '2015-11-09' '2015-11-10' '2015-11-11' '2015-11-12'
 '2015-11-13' '2015-11-14' '2015-11-15' '2015-11-16' '2015-11-17'
 '2015-11-18' '2015-11-19' '2015-11-20' '2015-11-21' '2015-11-22'
 '2015-11-23' '2015-11-24' '2015-11-25' '2015-11-26' '2015-11-27'
 '2015-11-28' '2015-11-29' '2015-11-30' '2015-12-01' '2015-12-02'
 '2015-12-03' '2015-12-04' '2015-12-05' '2015-12-06' '2015-12-07'
 '2015-12-08' '2015-12-09' '2015-12-10' '2015-12-11' '2015-12-12'
 '2015-12-13' '2015-12-14' '2015-12-15' '2015-12-16' '2015-12-17'
 '2015-12-18' '2015-12-19' '2015-12-20' '2015-12-21' '2015-12-22'
 '2015-12-23' '2015-12-24' '2015-12-26' '2015-12-27' '2015-12-28'
 '2015-12-29' '2015-12-30' '2015-12-31']
-----------------------------------
La columna: time:
Cantidad de categorias: 16382
Los valores unicos son: ['11:38:36' '11:57:40' '12:12:28' ... '20:51:07' '21:14:37' '22:09:54']
-----------------------------------
La columna: pizza_type_id:
Cantidad de categorias: 32
Los valores unicos son: ['hawaiian' 'classic_dlx' 'five_cheese' 'ital_supr' 'mexicana' 'thai_ckn'
 'prsc_argla' 'bbq_ckn' 'the_greek' 'spinach_supr' 'green_garden'
 'ital_cpcllo' 'spicy_ital' 'spin_pesto' 'veggie_veg' 'southw_ckn'
 'cali_ckn' 'pepperoni' 'ckn_pesto' 'big_meat' 'soppressata' 'four_cheese'
 'napolitana' 'calabrese' 'ital_veggie' 'mediterraneo' 'peppr_salami'
 'spinach_fet' 'sicilian' 'ckn_alfredo' 'pep_msh_pep' 'brie_carre']
-----------------------------------
La columna: size:
Cantidad de categorias: 5
Los valores unicos son: ['M' 'L' 'S' 'XL' 'XXL']
-----------------------------------
La columna: name:
Cantidad de categorias: 32
Los valores unicos son: ['The Hawaiian Pizza' 'The Classic Deluxe Pizza' 'The Five Cheese Pizza'
 'The Italian Supreme Pizza' 'The Mexicana Pizza' 'The Thai Chicken Pizza'
 'The Prosciutto and Arugula Pizza' 'The Barbecue Chicken Pizza'
 'The Greek Pizza' 'The Spinach Supreme Pizza' 'The Green Garden Pizza'
 'The Italian Capocollo Pizza' 'The Spicy Italian Pizza'
 'The Spinach Pesto Pizza' 'The Vegetables + Vegetables Pizza'
 'The Southwest Chicken Pizza' 'The California Chicken Pizza'
 'The Pepperoni Pizza' 'The Chicken Pesto Pizza' 'The Big Meat Pizza'
 'The Soppressata Pizza' 'The Four Cheese Pizza' 'The Napolitana Pizza'
 'The Calabrese Pizza' 'The Italian Vegetables Pizza'
 'The Mediterranean Pizza' 'The Pepper Salami Pizza'
 'The Spinach and Feta Pizza' 'The Sicilian Pizza'
 'The Chicken Alfredo Pizza' 'The Pepperoni, Mushroom, and Peppers Pizza'
 'The Brie Carre Pizza']
-----------------------------------
La columna: category:
Cantidad de categorias: 4
Los valores unicos son: ['Classic' 'Veggie' 'Supreme' 'Chicken']
-----------------------------------
La columna: ingredients:
Cantidad de categorias: 32
Los valores unicos son: ['Sliced Ham, Pineapple, Mozzarella Cheese'
 'Pepperoni, Mushrooms, Red Onions, Red Peppers, Bacon'
 'Mozzarella Cheese, Provolone Cheese, Smoked Gouda Cheese, Romano Cheese, Blue Cheese, Garlic'
 'Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic'
 'Tomatoes, Red Peppers, Jalapeno Peppers, Red Onions, Cilantro, Corn, Chipotle Sauce, Garlic'
 'Chicken, Pineapple, Tomatoes, Red Peppers, Thai Sweet Chilli Sauce'
 'Prosciutto di San Daniele, Arugula, Mozzarella Cheese'
 'Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce'
 'Kalamata Olives, Feta Cheese, Tomatoes, Garlic, Beef Chuck Roast, Red Onions'
 'Spinach, Red Onions, Pepperoni, Tomatoes, Artichokes, Kalamata Olives, Garlic, Asiago Cheese'
 'Spinach, Mushrooms, Tomatoes, Green Olives, Feta Cheese'
 'Capocollo, Red Peppers, Tomatoes, Goat Cheese, Garlic, Oregano'
 'Capocollo, Tomatoes, Goat Cheese, Artichokes, Peperoncini verdi, Garlic'
 'Spinach, Artichokes, Tomatoes, Sun-dried Tomatoes, Garlic, Pesto Sauce'
 'Mushrooms, Tomatoes, Red Peppers, Green Peppers, Red Onions, Zucchini, Spinach, Garlic'
 'Chicken, Tomatoes, Red Peppers, Red Onions, Jalapeno Peppers, Corn, Cilantro, Chipotle Sauce'
 'Chicken, Artichoke, Spinach, Garlic, Jalapeno Peppers, Fontina Cheese, Gouda Cheese'
 'Mozzarella Cheese, Pepperoni'
 'Chicken, Tomatoes, Red Peppers, Spinach, Garlic, Pesto Sauce'
 'Bacon, Pepperoni, Italian Sausage, Chorizo Sausage'
 'Soppressata Salami, Fontina Cheese, Mozzarella Cheese, Mushrooms, Garlic'
 'Ricotta Cheese, Gorgonzola Piccante Cheese, Mozzarella Cheese, Parmigiano Reggiano Cheese, Garlic'
 'Tomatoes, Anchovies, Green Olives, Red Onions, Garlic'
 'Nduja Salami, Pancetta, Tomatoes, Red Onions, Friggitello Peppers, Garlic'
 'Eggplant, Artichokes, Tomatoes, Zucchini, Red Peppers, Garlic, Pesto Sauce'
 'Spinach, Artichokes, Kalamata Olives, Sun-dried Tomatoes, Feta Cheese, Plum Tomatoes, Red Onions'
 'Genoa Salami, Capocollo, Pepperoni, Tomatoes, Asiago Cheese, Garlic'
 'Spinach, Mushrooms, Red Onions, Feta Cheese, Garlic'
 'Coarse Sicilian Salami, Tomatoes, Green Olives, Luganega Sausage, Onions, Garlic'
 'Chicken, Red Onions, Red Peppers, Mushrooms, Asiago Cheese, Alfredo Sauce'
 'Pepperoni, Mushrooms, Green Peppers'
 'Brie Carre Cheese, Prosciutto, Caramelized Onions, Pears, Thyme, Garlic']
-----------------------------------